S3_BUCKET=d9d2hffahi
S3_REGION=eur-is-1
S3_ENDPOINT_URL=https://s3api-eur-is-1.runpod.io
AWS_ACCESS_KEY_ID=123
AWS_SECRET_ACCESS_KEY=123
ENABLE_DATABASE=false
DATABASE_URL=postgresql+psycopg2://user:password@host:5432/dbname
WEBHOOK_CALLBACK_URL=https://callback.url/endpoint
WEBHOOK_TIMEOUT_SECONDS=10
DELETE_INPUT_AFTER_UPSCALE=true
CLOUDFLARE_ACCOUNT_ID=123
CLOUDFLARE_API_TOKEN=123
INPUT_STORAGE_MODE=s3
INPUT_VOLUME_PATH=/runpod-volume/storage/
OUTPUT_STORAGE_MODE=cloudflare
OUTPUT_VOLUME_PATH=/runpod-volume/outputs/